body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  
}

#GSCS_LOGO {
  width: 40%;
}
.button-holder {
  display: flex;
  justify-content: space-around !important;
}
.black {
  background: black;
}

.white {
  background: white;
}

#main_win {
  height: 100vh;
}
